{% extends "base.html.twig" %}

{% block title %}Card landing page{% endblock %}

{% block body %}
    <main>
        <h1 class="page-title-special">Alla länkar för kortspelet</h1>
    </main>

{% endblock %}