{% extends "base.html.twig" %}

{% block title %}Spelet tjugoett{% endblock %}

{% block body %}
    <main>
        <h1 class="page-title">Spelet tjugoett</h1>
        <br>
        <br>
        
        <article class="game-article">
            <form class="game-form" method="post" action="">
                <input type="submit" name="do_it" value="Spela">
            </form>
            <form class="game-form" method="get" action="game/doc">
                <input type="submit" name="go_to_doc" value="Spelets dokumentation">
            </form>
            
            <h2>Regler och generell förklaring</h2>
            <p class="game-p"> 
                Tjugoett är ett kortspel som är den svenska motsvarigheten till det internationellt spridda kortspelet Black Jack. <br>
                De viktigaste skillnaderna mellan dessa två spel är dels kortens värde, dels att bankiren i tjugoett spelar mot en spelare i taget och inte som i Black Jack mot alla på en gång. <br>
                Båda spelen leder sitt ursprung till vingt-et-un, som spelades vid det franska hovet på 1700-talet.
            </p>
            <p class="game-p"> 
                Spelets idé är att med två eller flera kort försöka uppnå det sammanlagda värdet 21, eller komma så nära som möjligt utan att överskrida 21.<br> 
                Essen är värda 14, kungarna 13, damerna 12, knektarna 11. <br>
                Nummerkorten har samma värden som valören.<br><br>
                En av deltagarna utses till bankir. <br>
                Spelet börjar med att bankiren lägger en insats i banken, det vill säga potten som det spelas om, och därefter ger varje spelare utom sig själv ett kort. <br>
                Spelarna spelar sedan mot bankiren en i taget. <br>
                Den spelare som är i tur tittar på sitt kort och satsar ett valfritt belopp, som dock inte får vara större än vad som finns i banken, och får därefter ytterligare ett kort.
            </p>

            
        </article>
    </main>
{% endblock %}