{% extends "base.html.twig" %}

{% block title %}Game landing page{% endblock %}

{% block body %}
    <main>
        <h1 class="page-title">Game Landing page</h1>
        <br>
        <br>
        
        <article class="game-article">

            <p class="game-p"> 
                Tjugoett är ett kortspel som är den svenska motsvarigheten till det internationellt spridda kortspelet Black Jack. <br>
                De viktigaste skillnaderna mellan dessa två spel är dels kortens värde, dels att bankiren i tjugoett spelar mot en spelare i taget och inte som i Black Jack mot alla på en gång. <br>
                Båda spelen leder sitt ursprung till vingt-et-un, som spelades vid det franska hovet på 1700-talet.
            </p>
            

            
        </article>
    </main>
{% endblock %}