{% extends "base.html.twig" %}

{% block title %}Home{% endblock %}

{% block body %}
    <main>
        <h1 class="page-title">Presentation av mig</h1>
        
        <article> 
            <a class="profile-pic-a"href="{{ asset('img/samurai.png') }}">
                <img class="profile-pic" src="{{ asset('img/samurai.png') }}" alt="">
            </a>
            <p> 
                Mitt namn är Max Lindgren och jag är 33 år gammal. Född och uppväxt i Göteborg. 
            </p>
            <p> Efter skolan, vid 19 års ålder, började jag arbeta på lager som mottagare av företagets gods och produkter i några år.
                En dag behövde inköpsavdelningen hjälp av någon som kunde produkterna och inte långt efter hade jag en fast position där.
                Några år senare uppstod samma scenario uppstod, fast för säljavdelningen, och vips så jobbade jag på den avdelningen istället.
            </p>
            <p>
                I början av året bestämde jag mig för att jag var nöjd efter cirka 12 år på företaget och bestämde mig för att utbilda mig till något.
                Nu är jag här :)
            </p>
        </article>
    </main>
{% endblock %}