{% extends "base.html.twig" %}

{% block title %}Report{% endblock %}

{% block body %}
    <h1 class="page-title">Redovisning</h1>
        <article> 
            <div class="kmom-link-div">
                <a class="kmom-link" href="/report#kmom01">kmom01</a>
                <a class="kmom-link" href="/report#kmom02">kmom02</a>
                <a class="kmom-link" href="/report#kmom03">kmom03</a>
                <a class="kmom-link" href="/report#kmom04">kmom04</a>
                <a class="kmom-link" href="/report#kmom05">kmom05</a>
                <a class="kmom-link" href="/report#kmom06">kmom06</a>
                <a class="kmom-link" href="/report#kmom07/10">kmom07/10</a>
            </div>
     
            <h2 id="kmom01">kmom01 - Redovisning</h2>
            <p>
                Mina tidigare kunskaper inom objektorientering kommer främst från er kurs OOP i Python.
                Jag har tidigare sett och arbetat med klasser och objektorienterad programmering i Python och har en grundläggande förståelse för vad det innebär, tror jag.
                Det ska bli spännande att fortsätta utforska skillnaderna och hur det fungerar annorlunda i Python.
                <br>
                <br>
                För att läsa på om klasser och objekt i PHP valde jag istället: https://www.w3schools.com/php/php_oop_what_is.asp
                <br>
                Det är min favoritsida, eftersom jag ofta tycker att andra guider innehåller för mycket onödig information, medan w3schools går rakt på sak.

                PHP:s modell för klasser innebär att de definieras med nyckelordet class, följt av klassens namn.
                Innehållet i klassen omges av måsvingar ({}) precis som i många andra språk.
                Metoder och attribut i klasser kan deklareras som public eller private, och precis som i Python kan de användas när ett objekt har skapats.
                Likt Python har PHP konstruktorer, arv (vilket jag använde i en av mina controllers), och man ärver med nyckelordet extends.
                Nyckelordet $this fungerar som self i Python och refererar till det aktuella objektet.
                Abstrakta klasser, statiska metoder med mera som finns i Python OOP återfinns även här.
                Jag läste också om traits, som verkar fungera som ett alternativ till multipelt arv, eftersom PHP bara tillåter arv från en klass.
                <br>
                <br>
                Jag upplevde kodbasen som något förvirrande.
                Jag hade inga problem att få det att fungera, och jag förstår att en controller i PHP tillsammans med Symfony är en form av specificerad route som utför viss logik.
                Jag förstår också att $this->render renderar vår .twig-fil på liknande sätt som Flask gör med Jinja2.
                Det enda jag hade svårt att förstå var själva controllern; jag funderade över: "Controllern är ju en klass som aldrig instansieras — då måste Symfony göra det åt mig på något sätt?"
                Det fick jag senare bekräftat — om jag har förstått det rätt så instansierar Symfony controllern via ramverket.
                <br>
                <br>
                Jag ska vara ärlig och säga att jag mest skummade igenom "PHP The Right Way".
                Att läsa om kod, särskilt långa textstycken om sådant man inte behöver just nu, fastnar inte riktigt hos mig.
                Det som gör att jag lär mig ett programmeringsspråk är att själv testa funktioner jag precis har hittat.
                Det är bland annat därför jag gillar w3schools, eftersom de håller texterna korta och erbjuder möjlighet att direkt testa koden på deras sida.
                <br>
                <br>
                Min största TIL (Today I Learned) är vad som menas med MVC – Model View Controller.
                Model förstår jag som en PHP-klass som representerar och hanterar logik.
                View är det som ansvarar för att visa information till användaren, exempelvis en .twig-fil.
                Controller är också en PHP-klass som i mitt fall tar emot förfrågningar på en viss route, kör logiken och skickar vidare till vyn (.twig-filen).
            </p>
            <h2 id="kmom02">kmom02 - Redovisning</h2>
             <p>
                The standard Lorem Ipsum passage, used since the 1500s
                "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
                Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
                Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."

                Section 1.10.32 of "de Finibus Bonorum et Malorum", written by Cicero in 45 BC
                "Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, 
                eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. 
                Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. 
                Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, 
                sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. 
                Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? 
                Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, 
                vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?"

                1914 translation by H. Rackham
                "But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and 
                I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, 
                the master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself, because it is pleasure, 
                but because those who do not know how to pursue pleasure rationally encounter consequences that are extremely painful. 
                Nor again is there anyone who loves or pursues or desires to obtain pain of itself, because it is pain, 
                but because occasionally circumstances occur in which toil and pain can procure him some great pleasure. 
                To take a trivial example, which of us ever undertakes laborious physical exercise, except to obtain some advantage from it? 
                But who has any right to find fault with a man who chooses to enjoy a pleasure that has no annoying consequences, 
                or one who avoids a pain that produces no resultant pleasure?"

                Section 1.10.33 of "de Finibus Bonorum et Malorum", written by Cicero in 45 BC
                "At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque 
                corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, 
                similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. 
                Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, 
                cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, 
                omnis voluptas assumenda est, omnis dolor repellendus. 
                Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates 
                repudiandae sint et molestiae non recusandae. Itaque earum rerum hic tenetur a sapiente delectus, 
                ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus asperiores repellat."

                1914 translation by H. Rackham
                "On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized 
                by the charms of pleasure of the moment, so blinded by desire, that they cannot foresee the pain and trouble that are bound to ensue; 
                and equal blame belongs to those who fail in their duty through weakness of will, which is the same as saying through shrinking from toil and pain. 
                These cases are perfectly simple and easy to distinguish. In a free hour, when our power of choice is untrammelled and when nothing prevents our 
                being able to do what we like best, every pleasure is to be welcomed and every pain avoided. But in certain circumstances and owing to the 
                claims of duty or the obligations of business it will frequently occur that pleasures have to be repudiated and annoyances accepted. 
                The wise man therefore always holds in these matters to this principle of selection: he rejects pleasures to secure other greater pleasures, 
                or else he endures pains to avoid worse pains."
            </p>
            <h2 id="kmom03">kmom03 - Redovisning</h2>
             <p>
                The standard Lorem Ipsum passage, used since the 1500s
                "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
                Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
                Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."

                Section 1.10.32 of "de Finibus Bonorum et Malorum", written by Cicero in 45 BC
                "Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, 
                eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. 
                Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. 
                Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, 
                sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. 
                Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? 
                Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, 
                vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?"

                1914 translation by H. Rackham
                "But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and 
                I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, 
                the master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself, because it is pleasure, 
                but because those who do not know how to pursue pleasure rationally encounter consequences that are extremely painful. 
                Nor again is there anyone who loves or pursues or desires to obtain pain of itself, because it is pain, 
                but because occasionally circumstances occur in which toil and pain can procure him some great pleasure. 
                To take a trivial example, which of us ever undertakes laborious physical exercise, except to obtain some advantage from it? 
                But who has any right to find fault with a man who chooses to enjoy a pleasure that has no annoying consequences, 
                or one who avoids a pain that produces no resultant pleasure?"

                Section 1.10.33 of "de Finibus Bonorum et Malorum", written by Cicero in 45 BC
                "At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque 
                corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, 
                similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. 
                Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, 
                cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, 
                omnis voluptas assumenda est, omnis dolor repellendus. 
                Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates 
                repudiandae sint et molestiae non recusandae. Itaque earum rerum hic tenetur a sapiente delectus, 
                ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus asperiores repellat."

                1914 translation by H. Rackham
                "On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized 
                by the charms of pleasure of the moment, so blinded by desire, that they cannot foresee the pain and trouble that are bound to ensue; 
                and equal blame belongs to those who fail in their duty through weakness of will, which is the same as saying through shrinking from toil and pain. 
                These cases are perfectly simple and easy to distinguish. In a free hour, when our power of choice is untrammelled and when nothing prevents our 
                being able to do what we like best, every pleasure is to be welcomed and every pain avoided. But in certain circumstances and owing to the 
                claims of duty or the obligations of business it will frequently occur that pleasures have to be repudiated and annoyances accepted. 
                The wise man therefore always holds in these matters to this principle of selection: he rejects pleasures to secure other greater pleasures, 
                or else he endures pains to avoid worse pains."
            </p>
            <h2 id="kmom04">kmom04 - Redovisning</h2>
             <p>
                The standard Lorem Ipsum passage, used since the 1500s
                "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
                Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
                Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."

                Section 1.10.32 of "de Finibus Bonorum et Malorum", written by Cicero in 45 BC
                "Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, 
                eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. 
                Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. 
                Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, 
                sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. 
                Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? 
                Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, 
                vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?"

                1914 translation by H. Rackham
                "But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and 
                I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, 
                the master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself, because it is pleasure, 
                but because those who do not know how to pursue pleasure rationally encounter consequences that are extremely painful. 
                Nor again is there anyone who loves or pursues or desires to obtain pain of itself, because it is pain, 
                but because occasionally circumstances occur in which toil and pain can procure him some great pleasure. 
                To take a trivial example, which of us ever undertakes laborious physical exercise, except to obtain some advantage from it? 
                But who has any right to find fault with a man who chooses to enjoy a pleasure that has no annoying consequences, 
                or one who avoids a pain that produces no resultant pleasure?"

                Section 1.10.33 of "de Finibus Bonorum et Malorum", written by Cicero in 45 BC
                "At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque 
                corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, 
                similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. 
                Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, 
                cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, 
                omnis voluptas assumenda est, omnis dolor repellendus. 
                Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates 
                repudiandae sint et molestiae non recusandae. Itaque earum rerum hic tenetur a sapiente delectus, 
                ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus asperiores repellat."

                1914 translation by H. Rackham
                "On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized 
                by the charms of pleasure of the moment, so blinded by desire, that they cannot foresee the pain and trouble that are bound to ensue; 
                and equal blame belongs to those who fail in their duty through weakness of will, which is the same as saying through shrinking from toil and pain. 
                These cases are perfectly simple and easy to distinguish. In a free hour, when our power of choice is untrammelled and when nothing prevents our 
                being able to do what we like best, every pleasure is to be welcomed and every pain avoided. But in certain circumstances and owing to the 
                claims of duty or the obligations of business it will frequently occur that pleasures have to be repudiated and annoyances accepted. 
                The wise man therefore always holds in these matters to this principle of selection: he rejects pleasures to secure other greater pleasures, 
                or else he endures pains to avoid worse pains."
            </p>
            <h2 id="kmom05">kmom05 - Redovisning</h2>
             <p>
                The standard Lorem Ipsum passage, used since the 1500s
                "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
                Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
                Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."

                Section 1.10.32 of "de Finibus Bonorum et Malorum", written by Cicero in 45 BC
                "Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, 
                eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. 
                Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. 
                Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, 
                sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. 
                Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? 
                Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, 
                vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?"

                1914 translation by H. Rackham
                "But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and 
                I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, 
                the master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself, because it is pleasure, 
                but because those who do not know how to pursue pleasure rationally encounter consequences that are extremely painful. 
                Nor again is there anyone who loves or pursues or desires to obtain pain of itself, because it is pain, 
                but because occasionally circumstances occur in which toil and pain can procure him some great pleasure. 
                To take a trivial example, which of us ever undertakes laborious physical exercise, except to obtain some advantage from it? 
                But who has any right to find fault with a man who chooses to enjoy a pleasure that has no annoying consequences, 
                or one who avoids a pain that produces no resultant pleasure?"

                Section 1.10.33 of "de Finibus Bonorum et Malorum", written by Cicero in 45 BC
                "At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque 
                corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, 
                similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. 
                Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, 
                cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, 
                omnis voluptas assumenda est, omnis dolor repellendus. 
                Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates 
                repudiandae sint et molestiae non recusandae. Itaque earum rerum hic tenetur a sapiente delectus, 
                ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus asperiores repellat."

                1914 translation by H. Rackham
                "On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized 
                by the charms of pleasure of the moment, so blinded by desire, that they cannot foresee the pain and trouble that are bound to ensue; 
                and equal blame belongs to those who fail in their duty through weakness of will, which is the same as saying through shrinking from toil and pain. 
                These cases are perfectly simple and easy to distinguish. In a free hour, when our power of choice is untrammelled and when nothing prevents our 
                being able to do what we like best, every pleasure is to be welcomed and every pain avoided. But in certain circumstances and owing to the 
                claims of duty or the obligations of business it will frequently occur that pleasures have to be repudiated and annoyances accepted. 
                The wise man therefore always holds in these matters to this principle of selection: he rejects pleasures to secure other greater pleasures, 
                or else he endures pains to avoid worse pains."
            </p>
            <h2 id="kmom06">kmom06 - Redovisning</h2>
             <p>
                The standard Lorem Ipsum passage, used since the 1500s
                "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
                Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
                Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."

                Section 1.10.32 of "de Finibus Bonorum et Malorum", written by Cicero in 45 BC
                "Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, 
                eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. 
                Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. 
                Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, 
                sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. 
                Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? 
                Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, 
                vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?"

                1914 translation by H. Rackham
                "But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and 
                I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, 
                the master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself, because it is pleasure, 
                but because those who do not know how to pursue pleasure rationally encounter consequences that are extremely painful. 
                Nor again is there anyone who loves or pursues or desires to obtain pain of itself, because it is pain, 
                but because occasionally circumstances occur in which toil and pain can procure him some great pleasure. 
                To take a trivial example, which of us ever undertakes laborious physical exercise, except to obtain some advantage from it? 
                But who has any right to find fault with a man who chooses to enjoy a pleasure that has no annoying consequences, 
                or one who avoids a pain that produces no resultant pleasure?"

                Section 1.10.33 of "de Finibus Bonorum et Malorum", written by Cicero in 45 BC
                "At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque 
                corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, 
                similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. 
                Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, 
                cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, 
                omnis voluptas assumenda est, omnis dolor repellendus. 
                Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates 
                repudiandae sint et molestiae non recusandae. Itaque earum rerum hic tenetur a sapiente delectus, 
                ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus asperiores repellat."

                1914 translation by H. Rackham
                "On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized 
                by the charms of pleasure of the moment, so blinded by desire, that they cannot foresee the pain and trouble that are bound to ensue; 
                and equal blame belongs to those who fail in their duty through weakness of will, which is the same as saying through shrinking from toil and pain. 
                These cases are perfectly simple and easy to distinguish. In a free hour, when our power of choice is untrammelled and when nothing prevents our 
                being able to do what we like best, every pleasure is to be welcomed and every pain avoided. But in certain circumstances and owing to the 
                claims of duty or the obligations of business it will frequently occur that pleasures have to be repudiated and annoyances accepted. 
                The wise man therefore always holds in these matters to this principle of selection: he rejects pleasures to secure other greater pleasures, 
                or else he endures pains to avoid worse pains."
            </p>
            <h2 id="kmom07/10">kmom07/10 - Redovisning</h2>
             <p>
                The standard Lorem Ipsum passage, used since the 1500s
                "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
                Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
                Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."

                Section 1.10.32 of "de Finibus Bonorum et Malorum", written by Cicero in 45 BC
                "Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, 
                eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. 
                Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. 
                Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, 
                sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. 
                Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? 
                Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, 
                vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?"

                1914 translation by H. Rackham
                "But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and 
                I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, 
                the master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself, because it is pleasure, 
                but because those who do not know how to pursue pleasure rationally encounter consequences that are extremely painful. 
                Nor again is there anyone who loves or pursues or desires to obtain pain of itself, because it is pain, 
                but because occasionally circumstances occur in which toil and pain can procure him some great pleasure. 
                To take a trivial example, which of us ever undertakes laborious physical exercise, except to obtain some advantage from it? 
                But who has any right to find fault with a man who chooses to enjoy a pleasure that has no annoying consequences, 
                or one who avoids a pain that produces no resultant pleasure?"

                Section 1.10.33 of "de Finibus Bonorum et Malorum", written by Cicero in 45 BC
                "At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque 
                corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, 
                similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. 
                Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, 
                cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, 
                omnis voluptas assumenda est, omnis dolor repellendus. 
                Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates 
                repudiandae sint et molestiae non recusandae. Itaque earum rerum hic tenetur a sapiente delectus, 
                ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus asperiores repellat."

                1914 translation by H. Rackham
                "On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized 
                by the charms of pleasure of the moment, so blinded by desire, that they cannot foresee the pain and trouble that are bound to ensue; 
                and equal blame belongs to those who fail in their duty through weakness of will, which is the same as saying through shrinking from toil and pain. 
                These cases are perfectly simple and easy to distinguish. In a free hour, when our power of choice is untrammelled and when nothing prevents our 
                being able to do what we like best, every pleasure is to be welcomed and every pain avoided. But in certain circumstances and owing to the 
                claims of duty or the obligations of business it will frequently occur that pleasures have to be repudiated and annoyances accepted. 
                The wise man therefore always holds in these matters to this principle of selection: he rejects pleasures to secure other greater pleasures, 
                or else he endures pains to avoid worse pains."
            </p>
        </article>
    </main>
{% endblock %}