{% extends 'base.html.twig' %}

{% block title %}Hello BookController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>
<main>
    <div class="example-wrapper">
        <h1>Lägg till en bok!</h1>
        <form class="library-form" method="post" action="/library/create">
            <label>Titel</label>
            <input type="text" name="title" required>
            <label>ISBN</label>
            <input type="text" name="isbn" required>
            <label>Författare</label>
            <input type="text" name="author" required>
            <label>Bildlänk</label>
            <label>Exempel: car.jpg</label>
            <input type="text" name="image-link" required>
            <input style="width: 200px; margin: 0 auto;" type="submit" name="send_book" value="Skicka">
        </form>
    </div>
</main>
{% endblock %}
